:host {
  display: block;
  height: 100%;

  @media (min-width: 768px) {
    min-height: 26.5rem;
  }
}

.diff-badge {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 1rem;

  @media (min-width: 768px) {
    min-height: 100%;
    gap: 0;
  }
}
